*{
    margin: 0;
    padding: 0;
}
h1{
    margin-top: 13px;
}
body{
    background-color: lch(76.51% 14.17 337.65);
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: brown;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #c053a5;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #c053a5;
    border-radius: 1rem;
    border: none;
}
.msg-container{
    font-size: 1.50rem;
    height: 10vmin;
}
.hide{
    display: none;
}

